#@ Placement
#-    Configure a placement constraint to where the container will be run.
#-    Examples:
#-        - node.hostname==<hostname>
#-        - engine.labels.fs-access.<worker-hostname>.mnt==true
#-        - node.role!=manager
PLACEMENT_CONSTRAINT=node.hostname==<hostname>
#@ Traefik Config
#-  - TRAEFIK_DOMAIN -
#-    The Domiain where this is accessed at.
TRAEFIK_DOMAIN=graylog.local
#-  - TRAEFIK_ROUTER_MIDDLEWARES -
#-    A comma separated list of Traefik middleware to run in the configured router.
TRAEFIK_ROUTER_MIDDLEWARES=compress
#@ Host Config
#-  - HOST_HOSTNAME -
#-    The hosts hostname
HOST_HOSTNAME=Server
#-  - PUID -
#-    User to run services as.
PUID=1000
#-  - PGID -
#-    Group to run services as.
PGID=1000
#-  - TZ -
#-    The timezone.
TZ=Etc/UTC
#@ Resource Limits
#-  - MONGO_MEMLIMIT -
#-    Limit Mongo container memory.
MONGO_MEMLIMIT=500m
#-  - OPENSEARCH_MEMLIMIT -
#-    Limit Opensearch container memory.
OPENSEARCH_MEMLIMIT=3g
#-  - GRAYLOG_MEMLIMIT -
#-    Limit Graylog container memory.
GRAYLOG_MEMLIMIT=4g
#@ Container Config
#   - Note: We need to persist x2 sets of data:
#       - MONGODB_DATA_PATH     = Graylog configuration and metadata such as user information or stream configurations.
#       - OPENSEARCH_DATA_PATH  = All the log messages processed by Graylog are stored here. This is a lot of data.
GRAYLOG_CONFIG_PATH=./appdata/graylog-stack/graylog
GRAYLOG_DISK_JOURNAL_PATH=./appdata/graylog-stack/journal
MONGODB_DATA_PATH=./appdata/graylog-stack/mongo
OPENSEARCH_DATA_PATH=./appdata/graylog-stack/opensearch/data
FLUENTBIT_STORAGE_PATH=./appdata/graylog-stack/fluent-bit/storage
FLUENTBIT_CERTS_PATH=./appdata/graylog-stack/fluent-bit/certs
#   - Note: OPENSEARCH_INITIAL_ADMIN_PASSWORD must contain [uppercase, lowercase, numbers, >8]
OPENSEARCH_INITIAL_ADMIN_PASSWORD=Loc1-f505s78tr4haoP9gf
GRAYLOG_PASSWORD_SECRET=MySecretString4Secrets
#   - Note: Set password with: echo -n MySecretPassword123 | sha256sum
GRAYLOG_ROOT_PASSWORD_SHA2=b169822e0e15ac5a2cccc3f740d5f263b501003d183928fc434653ecebd744bc
#   - Note: Fetch list of used subdomains from the swarm-public overlay docker network config
GRAYLOG_TRUSTED_PROXIES=127.0.0.1/32
GRAYLOG_TRANSPORT_EMAIL_ENABLED=true
GRAYLOG_TRANSPORT_EMAIL_PROTOCOL=smtp
GRAYLOG_TRANSPORT_EMAIL_WEB_INTERFACE_URL=http://<host>:9000/
GRAYLOG_TRANSPORT_EMAIL_HOSTNAME=outbound.mailhop.org
GRAYLOG_TRANSPORT_EMAIL_PORT=587
GRAYLOG_TRANSPORT_EMAIL_USE_AUTH=true
GRAYLOG_TRANSPORT_EMAIL_AUTH_USERNAME=xxxxx
GRAYLOG_TRANSPORT_EMAIL_AUTH_PASSWORD=xxxxx
GRAYLOG_TRANSPORT_EMAIL_USE_TLS=true
GRAYLOG_TRANSPORT_EMAIL_USE_SSL=false
GRAYLOG_TRANSPORT_FROM_EMAIL=graylog@example.com
GRAYLOG_MESSAGE_JOURNAL_MAX_SIZE=5gb
GRAYLOG_MESSAGE_JOURNAL_MAX_AGE=12h
GRAYLOG_HTTP_PUBLISHED_PORT=9001
FORWARD_SHARED_KEY=XXXXXXXXXXX
USE_CERTBOT_TO_GENERATE_KEY=false
CERT_FQDN=
CERT_EMAIL=admin@email.com
USE_EXISTING_CERT=false
EXISTING_CERT_PATH=/certs/live/npm-1/fullchain.pem
EXISTING_KEY_PATH=/certs/live/npm-1/privkey.pem
ENABLE_FLUENTBIT_STDOUT_OUTPUT=false
ENABLE_FLUENTBIT_GRAYLOG_GELF_OUTPUT=true
ENABLE_FLUENTBIT_GRAFANA_LOKI_OUTPUT=true
GRAFANA_LOKI_HOST=loki
GRAFANA_LOKI_PORT=3100
GRAFANA_LOKI_URI=/logs/loki/api/v1/push
ENABLE_S3_BUCKET_COLD_STORAGE_OUTPUT=false
AWS_COLD_STORAGE_BUCKET_NAME=
AWS_COLD_STORAGE_BUCKET_REGION=
ENABLE_FLUENTBIT_TLS_FORWARD_OUTPUT=false
FLUENTBIT_TLS_FORWARD_OUTPUT_HOST=
FLUENTBIT_TLS_FORWARD_OUTPUT_PORT=
FLUENTBIT_TLS_FORWARD_OUTPUT_SHARED_KEY=
FLUENTBIT_TLS_FORWARD_OUTPUT_VERIFY=off
ENABLE_FLUENTBIT_PT_FORWARD_OUTPUT=false
FLUENTBIT_PT_FORWARD_OUTPUT_HOST=
FLUENTBIT_PT_FORWARD_OUTPUT_PORT=
